{
	"presets": [
		"@babel/preset-env",
		"@babel/preset-typescript",
		"minify"
	],
	"plugins": [
		"@babel/plugin-proposal-optional-chaining",
		"@babel/plugin-transform-named-capturing-groups-regex"
	],
	"ignore": [
		"dist",
		"node_modules"
	]
}