<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<add key="Nuget" value="https://api.nuget.org/v3/index.json" />
		<add key="Nexus" value="https://nexus.aws.seloger.tools/repository/nuget-group" />
		<add key="Nexus" value="https://nexus.aws.seloger.tools/repository/nuget.seloger-proxy" />
	</packageSources>
	<packageSourceCredentials>
		<Nexus>
			<add key="Username" value="{nexus_nuget_user}" />
			<add key="ClearTextPassword" value="{nexus_nuget_password}" />
		</Nexus>
	</packageSourceCredentials>
	<packageRestore>
		<add key="enabled" value="True" />
	</packageRestore>
</configuration>